<!DOCTYPE html>
<html lang="fil">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="HtvH3JsGA5E_Ks8rlIga8kdOM67AjvlGiPKa6wxHdKQ" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "Pilipinas Auto News Portal" }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <h1>Pilipinas Auto News Portal</h1>
        <nav>
            <a href="/">Home (Balita)</a>
        </nav>
    </header>
    
    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p>&copy; 2026 Auto News Aggregator</p>
    </footer>
</body>
</html>
