<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="https://xml-sitemaps.com"?>
<urlset xmlns="http://sitemaps.org" xmlns:xhtml="http://w3.org">
  <url>
       <loc>https://pilipinasnews.netlify.app/</loc>
       <lastmod>2026-08-07T16:49:40+00:00</lastmod>
       <changefreq>daily</changefreq>
       <priority>1.0000</priority>
  </url>
  <url>
       <loc>https://netlify.app</loc>
       <lastmod>2026-08-07T16:49:40+00:00</lastmod>
       <changefreq>daily</changefreq>
       <priority>0.8000</priority>
  </url>
</urlset>
