---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://sitemaps.org">
  <url>
    <loc>https://netlify.app</loc>
    <changefreq>hourly</changefreq>
    <priority>1.0</priority>
  </url>
  {% for item in news %}
  <url>
    <loc>https://netlify.appnews/{{ item.slug }}/</loc>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}
</urlset>
