---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <!-- Pangunahing Pahina -->
  <url>
    <loc>{{ meta.url }}</loc>
    <lastmod>{{ collections.all | rssLastUpdatedDate }}</lastmod>
    <changefreq>hourly</changefreq>
    <priority>1.0</priority>
  </url>

  <!-- Lahat ng Kategoryang Pahina -->
  {% set listKategorya = ["pambansa","panahon","sasakyan","kabuhayan","artista","iba"] %}
  {% for kategorya in listKategorya %}
  <url>
    <loc>{{ meta.url }}?kategorya={{ kategorya }}</loc>
    <lastmod>{{ collections.all | rssLastUpdatedDate }}</lastmod>
    <changefreq>hourly</changefreq>
    <priority>0.9</priority>
  </url>
  {% endfor %}

  <!-- Lahat ng ibang pahina / Balita -->
  {% for pahina in collections.all %}
    {% if pahina.url != '/' and not pahina.url starts with '/?kategorya=' %}
  <url>
    <loc>{{ pahina.url | url | absoluteUrl(meta.url) }}</loc>
    <lastmod>{{ pahina.date | rssDate }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
    {% endif %}
  {% endfor %}
</urlset>
